name: Test PR on Flix Nightly

on:
  pull_request:
    branches: [ master ]

jobs:
  build-nightly:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2.5.0
        with:
          java-version: 21
          distribution: zulu
      - run: |
          # download the latest nightly Flix JAR
          url="https://flix.dev/nightly/flix-latest.jar"
          curl -L -f "$url" > flix.jar

          # run tests
          java -jar flix.jar test --github-key ${{ github.token }}