# UPDATE_VIA_SCRIPT

name: Test Release on Flix Nightly

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build-nightly:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: |
          # check out the latest release
          tag=$(git describe --tags --abbrev=0)
          git checkout "$tag"
      - uses: actions/setup-java@v2.5.0
        with:
          java-version: 21
          distribution: zulu
      - run: |
          # download the latest nightly Flix JAR
          url="https://github.com/mlutze/flix-nightly/releases/latest/download/flix.jar"
          curl -L -f "$url" > flix.jar

          # run tests
          java -jar flix.jar test --github-token ${{ github.token }}